@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Robin Li<br />
    647.448.0498
</address>

<address>
    <strong>Email me:</strong>   <a href="mailto:Support@example.com">lirobin9@gmail.com</a><br />
    <strong>My projects:</strong> <a href="http://github.com/robinli90">Github</a>
</address>